* {
  box-sizing: border-box;
}
.two-col {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #f6e8ea;
}

.two-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.two-col li {
  display: inline-block;
  margin-left: 1rem;
}

.two-col header a {
  color: #707070;
  text-decoration: none;
}

header {
  // flexbox styles to create two columns
  justify-content: space-between;
  // basic styling
  padding: 0rem 0rem;
  background-color: #F6E8EA;
}
header {
	font-family: "Big Caslon";
}
header a {
  text-decoration: none;
  color: #000000;
}
header a:hover {
	color: #FFFFFF;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown span {
  display: inline-block;
  padding: .5rem 0;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #F6E8EA;
  min-width: 160px;
  box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.2);
  padding: .75rem 1rem;
  z-index: 1;
}

.dropdown-content header a {
  display: block;
  padding: .25rem 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* basic layout styles */

* {
  box-sizing: border-box;
}

header {
  /* flexbox styles to create two columns */
  display: two-col;
  justify-content: space-between;
  /* basic styling */
  padding: .5rem 4rem;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  display: inline-block;
}

header a {
  text-decoration: none;
  color: #fff;
}

header li a {
  padding: .5rem;
}

header .current {
  color: #8AC147;
}
footer {
	background-color: #F6E8EA;
	padding: 2.5rem 1.5rem;
	text-align: ;
}
h1 {
  text-decoration: none;
  color: #000000;
  background-image: url(https://images.pexels.com/photos/4321194/pexels-photo-4321194.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  padding: 16rem 1rem;
}
h2 {
  text-decoration: none;
  color: #707070;
  background-color: #F6E8EA;
  
}
h3 {
  text-decoration: none;
  color: #707070;
  border: #F6E8EA;
}
h4 {
  text-decoration: none;
  color: #000000;
  border-color: #707070;
  background-image: url(https://images.pexels.com/photos/4321194/pexels-photo-4321194.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  padding: 1rem 5rem;
}
body{
	font-family: "Big Caslon"; 
	color: #000000;
}
<!body{
	background-image: url(https://images.pexels.com/photos/4321194/pexels-photo-4321194.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}>

p {
	color: #000000;
}
/*border-top-style: p;{background-image: https://images.pexels.com/photos/4321194/pexels-photo-4321194.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500;}*/

body a{
  display: inline-block;
  background-color: #707070;
  color:  #ffffff;
  text-decoration: none;
  boarder border-radius: .25rem;
}

body a:hover{
  background-color: #B9B8B8;
}


